{
	"presets": [
		["env",{
			modules:false,
      target: {
        node: 6
      }
		}],
		"stage-1",
		"flow",
		"react"
	],
	env:{
		es:{
			plugins:[
        'react-flow-props-to-prop-types',
        './babel-plugin-hoist-css',
			]
		},
		cjs:{
			plugins:[
        'react-flow-props-to-prop-types',
        './babel-plugin-hoist-css',
				"transform-es2015-modules-commonjs"
			]
		},
		test:{
      plugins:[
        "transform-es2015-modules-commonjs",
        [
          'css-modules-transform',
          {
            "generateScopedName": "[name]__[local]",
          }
        ]
      ]
		}
	}
}

