{
	"env":{
		"browser":true,
		"es6":true,
	},
	"parser": "babel-eslint",
	"parserOptions":{
		"ecmaFeatures":{
			"impliedStrict":true
			,"jsx":true
		}
		,"sourceType":"module"
	},
	"rules":{
		"no-console":'off',
		"no-plusplus":'off',
		"react/jsx-filename-extension":'off',
		"react/sort-comp":'off',
		"no-param-reassign":'off',
		"global-require":'off'
	},
  "settings": {
    "eslint-plugin-disable": {
      "paths": {
        "jsx-a11y": ["**/*.js"]
      }
    }
  },
  plugins:["eslint-plugin-disable"],
  overrides: [
  {
    files: ["jest.setupFramework.js", "*.test.js"],
    "env":{
      "node":true,
      "jest":true,
    },
    rules: {
      "no-unused-expressions": "off",
      "no-underscore-dangle":"off"
    }
  },{
    files: "*.js",
    rules: {
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
    }
  }],
	"extends":["airbnb"]
}
