{
	"env":{
		"browser":true,
		"es6":true,
	},
  "globals":{
    "SyntheticEvent":true,
    "casper":true,
    "__utils__":true
  },
	"parser": "babel-eslint",
	"parserOptions":{
		"ecmaFeatures":{
			"impliedStrict":true
			,"jsx":true
		}
		,"sourceType":"module"
	},
	"rules":{
		"no-console":'off',
		"no-plusplus":'off',
		"react/jsx-filename-extension":'off',
		"react/sort-comp":'off',
    "jsx-quotes": [1, "prefer-single"],
		"no-param-reassign":'off',
		"no-underscore-dangle":'off',
		"global-require":'off',
    "import/no-extraneous-dependencies": ["error", {"devDependencies": false}],
    "flowtype/define-flow-type": 1
	},
  "settings": {
    "eslint-plugin-disable": {
      "paths": {
        "jsx-a11y": ["**/*.js"]
      }
    }
  },
  plugins:["disable", "flowtype"],
  overrides: [{
    files: ["*.js", "jest.setupFramework.js", "e2e/**/*.js", "demo/**/*.js", "src/**/*.test.js"],
    "env":{
      "node":true,
      "jest":true,
      "phantomjs":true,
    },
    rules: {
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
      "no-unused-expressions": "off",
      "no-underscore-dangle":"off"
    },
  }],
	"extends":["airbnb"]
}
