*{
  position:relative;
}
.container{
  margin:2em;
  display:flex;
  flex-wrap:wrap;
}
.block{
  flex:50%;
  min-width: 250px;
  border:1em solid white;
  box-sizing:border-box;
  background:#eee;
  padding:1em;
}
.control{
  margin: 1em 0;
}
input[type=number]{
  width: 5em;
  margin: 0 0.5em;
}
button{
  margin-right:1em;
}
.customBox{
  width:50%;
  height:3em;
  border:1px solid;
}
